
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html, body {
    width: 100%;
    min-height: 100%;
}

body {
    background-color: #DDDAD7;
    background-color: #EEEBE8;
    color: #000000;
    font-family: 'EB Garamond', Garamond, serif;
    font-size: 20px;
    padding-top: 4rem;
}

h1, h2, h3 {
    font-family: "Heebo", sans-serif;
    margin-bottom: 1.0rem;
}

h1.title {
    text-align: center;
    margin-top: -10px;
    margin-bottom: 2.0rem
}

p, ol, ul {
    margin-bottom: 1.6rem;
    line-height: 1.42em;
    line-height: 1.6em;
}

ol, ul {
    padding-left: 2.0rem;
}

main a {
    color: #ff3392;
    text-decoration: none;
    border-bottom: 1px dotted;
}

a.viewmore {
    display: inline-block;

    color: #000000;
    border: none;

    font-family: "Space Mono", sans-serif;
    font-size: 12px;

    border-radius: 7px;
    padding: 2px 15px;
    background-color: #D6D4D0;
}
a.viewmore:hover {
    background-color: #C6C4C0;
}

a.wiki-link {
    font-size: 16px;
}
a.homepage-link {
    font-size: 18px;
}

pre {
    tab-size: 4;
}

p code {
    display: inline-block;
    font-family: "Space Mono", monospace;
    background-color: #FFFFFF;
    border-radius: 2px;
    font-size: 15px;
    padding: 0px 5px;
}

pre {
    padding: 0.8rem;
    border-radius: 5px;
    font-family: "Space Mono", monospace;
    font-size: 15px;
    background-color: #FFFFFF;
    border-radius: 5px;
}

img {
    display: block;
    max-width: 100%;
    margin: auto;
    margin-bottom: 1.4rem;
    max-height: 360px;
}

main {
    position: relative;
    width: 100%;
    padding: 0px 20px;
    max-width: 36em;
    margin: auto;
    margin-bottom: 10rem;
}

#logo svg {
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
}

#tl {
    position: fixed;
    top: 4rem;
    left: 4rem;
}

#tl nav {
    margin-top: 2.0rem;
}

#tl nav a {
    display: block;
    text-decoration: none;
}

#tl nav a,
#tl .stat {
    font-family: "Space Mono", monospace;
    font-size: 12px;
    color: #999;
}

#tl nav a svg {
    width: 13px;
    height: 13px;
    margin-bottom: 10px;
    fill: #999;
    stroke: #999;
}

#tl nav a:hover {
    color: #444;
}
#tl nav a:hover svg {
    fill: #444;
    stroke: #444;
}

.column-container {
    display: flex;
}

.column {
    flex: 1;
}

figure {
    margin-bottom: 1.4rem;
}
figure img {
    margin-bottom: 0.4rem;
}
figcaption {
    font-family: 'EB Garamond', Garamond, serif;
    font-size: 16px;
    color: #999;
    font-style: italic;
}

@media screen and (max-width: 1200px) {
    #tl {
        position: static;
        text-align: center;
        margin-bottom: 40px;
    }
    #tl .stat {
        display: none;
    }
    #tl nav {
        margin-top: 0;
    }
    #tl nav a {
        display: inline-block;
        font-size: 16px;
    }
    #tl nav a:not(:last-child) {
        margin-right: 20px;
    }
    #tl nav.social {
        display: none;
    }
    #tl nav a svg {
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-width: 720px) {
    .column-container {
        display: block;
    }
    .column {
        margin: auto;
        margin-bottom: 2.0rem;
        width: 400px;
        max-width: 100%;
    }
    a.wiki-link {
        font-size: inherit;
    }
    a.homepage-link {
        font-size: inherit;
    }
}