<html>
<head>
    <title>{{ page.name }}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% endif %}">

    <!-- META TAGS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="{{ page.name }}">
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% endif %}">
    <meta property="og:image" content="https://azlen.me/og-image.png">
    <meta name="twitter:card" content="summary_large_image">
    <!--<meta property="og:url" content="">-->

    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#EEEBE8">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#EEEBE8">
    
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,700|Space+Mono|Heebo:500,900&display=swap" rel="stylesheet"> 
    <!--<link href="https://fonts.googleapis.com/css?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">-->
    
    <!-- STYLE -->
    <style>
        /* WEBSITE STYLES */
        {% include 'css/main.css' %}

        /* CODE BLOCK STYLING */
        {% include 'css/manni.css' %}
    </style>
</head>
<body>
    <!--NOTION_ID:{{ page.id }}-->
    <div id="tl">
        <a href="/" id="logo">
            {% include 'svg/logo.svg' %}
        </a>
        {% if page.path == '/' %}
            <div class="stat">{{ site.wordcount | commafy }} words</div>
            <div class="stat">{{ site.pagecount | commafy }} pages</div>
            <nav>
                {% for p in collection.pages | rejectattr('navigation', 'none') | sort(attribute="navigation") %}
                    {% if p.navigation > 0 %}
                        <a href="{{ p.path }}">{{ p.name }}</a>
                    {% endif %}
                {% endfor %}
                <!--<a href="/about">About</a>
                <a href="/wiki">Wiki</a>
                <a href="/learning">Learning</a>-->
                <!--<a href="/reading">Reading</a>-->
                <!--<a href="/contact">Contact</a>-->
            </nav>
            <nav class="social">
                <a href="https://instagram.com/azlenelza" target="_blank">{% include 'svg/instagram.svg' %}</a>
                <a href="https://github.com/azlen" target="_blank">{% include 'svg/github.svg' %}</a>
                <a href="https://merveilles.town/web/accounts/33669" target="_blank">{% include 'svg/mastodon.svg' %}</a>
                <a href='https://webring.xxiivv.com/#random' target='_blank'>
                    <span style="display:inline-block; transform:scale(1.2);"> <!-- webring logo looks too small -->
                        {% include 'svg/webring.svg' %}
                    </span>
                </a>
            </nav>
        {% endif %}
        <!--
        {% if page.tableofcontents | length > 0 %}
            <nav class="toc">
                {% for item in page.tableofcontents %}
                    <a class="toc-indent-{{ item[0] }}"href="#{{ item[2] }}">{{ item[1] }}</a>
                {% endfor %}
            </nav>
        {% endif %}
        -->
    </div>
    <main>
        <header>
            <h1 class="title">{{ page.name }}</h1>
            {% if page.posted %}
            <div class="date">{{ fromiso(page.posted.start).strftime("%B %d, %Y") }}</div>
            {% endif %}
        </header>

        {{ content }}
    </main>
</body>
</html>